
@import 'vendor/colors';

@import 'mixins';

@import 'base';

@import 'vendor/normalize';
/*
// Components
// @import 'components/navbar';

body {
  margin: 4rem 0;
  padding: 0;
  background-color: $full-white;
  //margin-top: 3.8rem;
}

.form-actions {
  padding: $size-10 0;
}

.message {
  font-size: 0.8rem;

  .message-error {
    color: red!important;
  }
}



#app-mount {

}

.main-container {

}

.clean-container {

}
*/
